In [1]:
import sys
import pandas as pd
import numpy as np

Read in book_info csv and see the distriubtion by publication year

In [2]:
book = pd.read_csv('book_info.csv')
book['book_QN'] = book['work'].str.split('/').str[-1]
book_clean = book.drop_duplicates(subset=['book_QN'])
book_clean = book_clean[book_clean['book_QN'] != 'Q43361']
display(book_clean)

,Unnamed: 0,work,genre,workLabel,genreLabel,PublicationYear,book_QN
3,0,http://www.wikidata.org/entity/Q740473,http://www.wikidata.org/entity/Q132311,The House on the Borderland,fantasy,1908.0,Q740473
5,0,http://www.wikidata.org/entity/Q20543676,http://www.wikidata.org/entity/Q8261,A Voyage to the Moon,novel,1827.0,Q20543676
7,0,http://www.wikidata.org/entity/Q95981569,http://www.wikidata.org/entity/Q8261,The Mystery,novel,1907.0,Q95981569
11,0,http://www.wikidata.org/entity/Q53585,NaN,Hamburgische Dramaturgie,NaN,1769.0,Q53585
12,0,http://www.wikidata.org/entity/Q16385081,NaN,Aunt Jane's Nieces on Vacation,NaN,1912.0,Q16385081
...,...,...,...,...,...,...,...
4779,0,http://www.wikidata.org/entity/Q588161,http://www.wikidata.org/entity/Q1123381,The Imaginary Invalid,comédie-ballet,1673.0,Q588161
4780,0,http://www.wikidata.org/entity/Q1768515,http://www.wikidata.org/entity/Q1164267,The Voyage of the Beagle,travel book,1839.0,Q1768515
4782,0,http://www.wikidata.org/entity/Q11153710,http://www.wikidata.org/entity/Q474090,The Highwayman,narrative poetry,1906.0,Q11153710
4783,0,http://www.wikidata.org/entity/Q10426505,NaN,Barnen ifrån Frostmofjället,NaN,1907.0,Q10426505
4784,0,http://www.wikidata.org/entity/Q19020134,NaN,The Book of Nonsense,NaN,1887.0,Q19020134

In [ ]:
book_clean['p_after'] = (book_clean['PublicationYear'] // 50)*50
book_clean['p_before'] = (book_clean['PublicationYear'] // 50 + 1) * 50
book_clean['p_range'] = book_clean['p_after'].astype(str) + "-" + book_clean['p_before'].astype(str)
display(book_clean)

In [ ]:
p_counts = book_clean['p_range'].value_counts()
print(p_counts)

In [ ]:
book1850 = book_clean[book_clean['p_range'] == '1850-1900']
display(book1850)

In [ ]:
match = pd.read_csv('updated_fm.csv')
book1850 = pd.merge(book1850, match, on = 'book_QN', how = 'left')
book1850 = book1850[['id','workLabel','PublicationYear','authorLabel']]
display(book1850)

Read in fantasy books info to specifically see how word use differentiate by time and by age

In [7]:
fantasy = pd.read_csv('fantasy.csv')
sf = pd.read_csv('scienceF.csv')
novel = pd.read_csv('novel.csv')
display(sf)

,Unnamed: 0,book_QN,PublicationYear,id,authorLabel,author_QN,birthYear
0,0,Q1218232,1901.0,PG1013,H. G. Wells,Q42511,1866
1,3,Q5051290,1914.0,PG1059,H. G. Wells,Q42511,1866
2,5,Q1215802,1904.0,PG11696,H. G. Wells,Q42511,1866
3,6,Q823691,1904.0,PG11870,H. G. Wells,Q42511,1866
4,7,Q650949,1899.0,PG12163,H. G. Wells,Q42511,1866
...,...,...,...,...,...,...,...
100,144,Q937389,1911.0,PG60944,Hugo Gernsback,Q312242,1884
101,145,Q8036749,1962.0,PG65792,Keith Laumer,Q724395,1925
102,146,Q7766940,1987.0,PG65839,Gordon R. Dickson,Q446941,1923
103,147,Q7715857,1871.0,PG65882,George Tomkyns Chesney,Q5545264,1830
104,148,Q4132785,1953.0,PG67652,Ward Moore,Q947986,1903

In [8]:
fantasy['type'] = "F"
sf['type'] = 'S'
SorF = pd.concat([sf, fantasy])
SorF = SorF.drop_duplicates(subset=['id'])
display(SorF)
# novel['type'] = "N"
# NorF = pd.concat([fantasy, novel])
#No duplicates found
# NorF = NorF.drop_duplicates(subset=['id'])
# display(NorF)

,Unnamed: 0,book_QN,PublicationYear,id,authorLabel,author_QN,birthYear,type
0,0,Q1218232,1901.0,PG1013,H. G. Wells,Q42511,1866,S
1,3,Q5051290,1914.0,PG1059,H. G. Wells,Q42511,1866,S
2,5,Q1215802,1904.0,PG11696,H. G. Wells,Q42511,1866,S
3,6,Q823691,1904.0,PG11870,H. G. Wells,Q42511,1866,S
4,7,Q650949,1899.0,PG12163,H. G. Wells,Q42511,1866,S
...,...,...,...,...,...,...,...,...
137,211,Q5593931,1924.0,PG61681,Ruth Plumly Thompson,Q449234,1891,F
138,212,Q7748655,1925.0,PG65849,Ruth Plumly Thompson,Q449234,1891,F
139,213,Q10381482,1926.0,PG70152,Ruth Plumly Thompson,Q449234,1891,F
140,214,Q7736859,1927.0,PG71273,Ruth Plumly Thompson,Q449234,1891,F
141,215,Q822290,1534.0,PG1200,François Rabelais,Q131018,1500,F

In [ ]:
#background corpos
book = pd.read_csv('book_info.csv')
book['book_QN'] = book['work'].str.split('/').str[-1]
book = book.drop_duplicates(subset=['book_QN'])
book = book[book['book_QN'] != 'Q43361']
matches = pd.read_csv('newest_fm.csv')
book = pd.merge(book, matches, on=['book_QN'], how='inner')
book = book.drop_duplicates(subset=['book_QN'])
book = book[book['language'] == "['en']"]
background = book[~book['book_QN'].isin(SorF['book_QN'])]
background = background.dropna(subset=['genreLabel'])
display(background)

Read in book_counts csv for word counts in each book

In [9]:
word_count = {}
fnf = pd.read_csv('files_not_found.csv')
fnf['id'] = fnf['filename'].str.split('_').str[0]
# book_filtered = background[~background['id'].isin(fnf['id'])]
book_filtered = sf[~sf['id'].isin(fnf['id'])]

for index, row in book_filtered.iterrows():
    idnum = row['id']
    filename = "counts/csv/" + idnum + "_counts.csv"
    file = pd.read_csv(filename)
    for index, row in file.iterrows():
        word = row[0]
        count = int(row[1])
        if word in word_count:
            word_count[word] += count
        else:
            word_count[word] = count
df = pd.DataFrame(word_count.items(), columns=["word", "count"])
display(df)

             word   count
0             and  176588
1              of  183925
2               i   86785
3               a  128190
4              to  138400
...           ...     ...
58083   juvenilia       1
58084     eastman       1
58085       upton       1
58086   disparate       1
58087  ballantine       1

[58088 rows x 2 columns]

In [10]:
corpos = df['count'].sum()
# # df['p(w)'] = np.log(df['count'] / (corpos - df['count']))
# # df['corpos_N'] = corpos
# # df = df.rename(columns={'count':'count_n'})
df['corpos_S'] = corpos
df = df.rename(columns={'count':'count_s'})
sf = df
# display(sf)
# Background = df
# display(fantasy)

In [15]:
display(sf)
sf.to_csv('ScienceFiction_count.csv')

             word  count_s  corpos_S
0             and   176588   5150227
1              of   183925   5150227
2               i    86785   5150227
3               a   128190   5150227
4              to   138400   5150227
...           ...      ...       ...
58083   juvenilia        1   5150227
58084     eastman        1   5150227
58085       upton        1   5150227
58086   disparate        1   5150227
58087  ballantine        1   5150227

[58088 rows x 3 columns]

In [3]:
# fantasy.to_csv('fantasy_count.csv')
# novel.to_csv('novel_count.csv')
# sf.to_csv('ScienceFiction_count.csv')

fantasy = pd.read_csv('fantasy_count.csv')
display(fantasy)
novel = pd.read_csv('novel_count.csv')
sf = pd.read_csv('ScienceFiction_count.csv')

       Unnamed: 0           word  count_f  corpos_F
0               0              i   128228   7681596
1               1             of   255255   7681596
2               2            and   275059   7681596
3               3              a   169647   7681596
4               4             to   213087   7681596
...           ...            ...      ...       ...
66753       66753         gripes        1   7681596
66754       66754  circumcentral        1   7681596
66755       66755      arimaspes        1   7681596
66756       66756        musaeus        1   7681596
66757       66757    aglaophemus        1   7681596

[66758 rows x 4 columns]

In [4]:
# pd.set_option('display.max_rows', 50)
word_dif = pd.merge(fantasy,sf, on = 'word')
word_dif = pd.merge(word_dif, novel, on = 'word', how = 'right')
word_dif.fillna(0, inplace=True)
word_dif = word_dif[(word_dif['count_s'] != 0)&(word_dif['count_f'] != 0)]
display(word_dif)

,Unnamed: 0_x,word,count_f,corpos_F,Unnamed: 0_y,count_s,corpos_S,Unnamed: 0,count_n,corpos_N
0,1.0,of,255255.0,7681596.0,1.0,183925.0,5150227.0,0,333320,10601584
1,2.0,and,275059.0,7681596.0,0.0,176588.0,5150227.0,1,325145,10601584
2,4.0,to,213087.0,7681596.0,4.0,138400.0,5150227.0,2,315114,10601584
3,3.0,a,169647.0,7681596.0,3.0,128190.0,5150227.0,3,259120,10601584
4,8.0,in,122569.0,7681596.0,6.0,85130.0,5150227.0,4,188575,10601584
...,...,...,...,...,...,...,...,...,...,...
76550,57746.0,griddle,3.0,7681596.0,39042.0,1.0,5150227.0,76550,1,10601584
76555,51022.0,girdered,2.0,7681596.0,48375.0,4.0,5150227.0,76555,1,10601584
76558,26797.0,waterfront,2.0,7681596.0,35776.0,21.0,5150227.0,76558,1,10601584
76610,23379.0,seaplane,1.0,7681596.0,50381.0,1.0,5150227.0,76610,1,10601584
76659,24238.0,amnesia,4.0,7681596.0,49392.0,5.0,5150227.0,76659,1,10601584

In [19]:
word_dif['freq_S'] = np.log((word_dif['count_s'] + word_dif['count_n'])/(word_dif['corpos_S'] + word_dif['corpos_N'] - word_dif['count_s'] - word_dif['count_n']))
word_dif['freq_F'] = np.log((word_dif['count_f'] + word_dif['count_n'])/(word_dif['corpos_F'] + word_dif['corpos_N'] - word_dif['count_f'] - word_dif['count_n']))

# word_dif['freq_S'] = np.log((word_dif['count_s'] + word_dif['count_b'])/(word_dif['corpos_S'] + word_dif['corpos_B'] - word_dif['count_s'] - word_dif['count_b']))
# word_dif['freq_F'] = np.log((word_dif['count_f'] + word_dif['count_b'])/(word_dif['corpos_F'] + word_dif['corpos_B'] - word_dif['count_f'] - word_dif['count_b']))
word_dif['LOR'] = word_dif['freq_S'] - word_dif['freq_F']
word_dif = word_dif.sort_values(by='LOR',ascending = False)
word_dif.to_csv('ScienceFiction_vs_Fantasy.csv')
display(word_dif.head(50))

,Unnamed: 0_x,word,count_f,corpos_F,Unnamed: 0_y,count_s,corpos_S,Unnamed: 0,count_n,corpos_N,freq_S,freq_F,LOR
62421,36064.0,seaton,1.0,7681596.0,16496.0,419.0,5150227.0,62421,1,10601584,-10.532185,-16.028345,5.496160
42647,65882.0,walt,1.0,7681596.0,41955.0,603.0,5150227.0,42647,3,10601584,-10.165547,-15.335197,5.169650
54948,42470.0,challenger,1.0,7681596.0,25996.0,386.0,5150227.0,54948,3,10601584,-10.608862,-15.335197,4.726336
46947,39802.0,roma,9.0,7681596.0,45032.0,897.0,5150227.0,46947,3,10601584,-9.770014,-14.236585,4.466571
48890,47345.0,arden,2.0,7681596.0,47533.0,298.0,5150227.0,48890,2,10601584,-10.868664,-15.335197,4.466533
35394,18836.0,croft,8.0,7681596.0,54739.0,1293.0,5150227.0,35394,10,10601584,-9.399959,-13.831119,4.431161
72186,51916.0,steve,1.0,7681596.0,41953.0,533.0,5150227.0,72186,7,10601584,-10.280862,-14.642050,4.361188
28450,11458.0,walton,4.0,7681596.0,20268.0,770.0,5150227.0,28450,8,10601584,-9.915690,-14.236585,4.320895
39465,30118.0,ross,5.0,7681596.0,30041.0,1558.0,5150227.0,39465,22,10601584,-9.207185,-13.425654,4.218468
50079,51728.0,hilton,1.0,7681596.0,39058.0,350.0,5150227.0,50079,7,10601584,-10.694707,-14.642050,3.947343
66125,40346.0,winchelsea,1.0,7681596.0,14380.0,83.0,5150227.0,66125,1,10601584,-12.141644,-16.028345,3.886701
40560,58280.0,equilateral,5.0,7681596.0,46754.0,332.0,5150227.0,40560,3,10601584,-10.758314,-14.642050,3.883736
53015,55461.0,wes,1.0,7681596.0,47535.0,156.0,5150227.0,53015,3,10601584,-11.503552,-15.335197,3.831646
55520,26052.0,radiation,3.0,7681596.0,4136.0,227.0,5150227.0,55520,3,10601584,-11.134372,-14.929732,3.795360
28474,45506.0,molecular,1.0,7681596.0,4906.0,257.0,5150227.0,28474,6,10601584,-11.000295,-14.775582,3.775286
51735,5609.0,duncan,1.0,7681596.0,45642.0,137.0,5150227.0,51735,3,10601584,-11.630815,-15.335197,3.704383
29143,55955.0,stevens,6.0,7681596.0,16269.0,270.0,5150227.0,29143,2,10601584,-10.966647,-14.642050,3.675404
7144,47175.0,projectors,3.0,7681596.0,30737.0,164.0,5150227.0,7144,2,10601584,-11.460468,-15.112054,3.651586
74095,27722.0,beverly,1.0,7681596.0,38727.0,64.0,5150227.0,74095,1,10601584,-12.398075,-16.028345,3.630270
4925,13619.0,terra,18.0,7681596.0,21063.0,659.0,5150227.0,4925,6,10601584,-10.072637,-13.543437,3.470800
54786,46668.0,transmitter,3.0,7681596.0,32317.0,100.0,5150227.0,54786,1,10601584,-11.957339,-15.335197,3.377859
61904,25621.0,reincarnation,1.0,7681596.0,41397.0,48.0,5150227.0,61904,1,10601584,-12.680642,-16.028345,3.347702
46877,49084.0,atomic,9.0,7681596.0,6923.0,249.0,5150227.0,46877,2,10601584,-11.046997,-14.323596,3.276599
54676,26962.0,airship,3.0,7681596.0,23641.0,111.0,5150227.0,54676,2,10601584,-11.845071,-15.112054,3.266983
19773,2557.0,acceleration,8.0,7681596.0,4691.0,280.0,5150227.0,19773,5,10601584,-10.919959,-14.156542,3.236583
30092,38414.0,meters,3.0,7681596.0,29902.0,107.0,5150227.0,30092,2,10601584,-11.881111,-15.112054,3.230943
28860,65773.0,phil,1.0,7681596.0,29894.0,934.0,5150227.0,28860,44,10601584,-9.686894,-12.914827,3.227933
39021,58967.0,lux,2.0,7681596.0,45879.0,82.0,5150227.0,39021,2,10601584,-12.141644,-15.335197,3.193554
53299,27147.0,frequencies,1.0,7681596.0,36063.0,40.0,5150227.0,53299,1,10601584,-12.858891,-16.028345,3.169454
64878,56353.0,meta,1.0,7681596.0,49263.0,57.0,5150227.0,64878,2,10601584,-12.494925,-15.622880,3.127955
26717,12591.0,hydrogen,4.0,7681596.0,21085.0,95.0,5150227.0,26717,1,10601584,-12.008112,-15.112054,3.103942
5915,26173.0,velocities,1.0,7681596.0,19123.0,37.0,5150227.0,5915,1,10601584,-12.934877,-16.028345,3.093467
45220,49016.0,relay,1.0,7681596.0,9357.0,121.0,5150227.0,45220,6,10601584,-11.728271,-14.775582,3.047311
36156,49277.0,adrian,11.0,7681596.0,39989.0,285.0,5150227.0,36156,5,10601584,-10.902567,-13.948902,3.046336
63315,24792.0,flagship,1.0,7681596.0,23654.0,34.0,5150227.0,63315,1,10601584,-13.017116,-16.028345,3.011229
27405,26116.0,planetary,5.0,7681596.0,12201.0,135.0,5150227.0,27405,3,10601584,-11.645203,-14.642050,2.996847
46311,33997.0,watson,6.0,7681596.0,15614.0,412.0,5150227.0,46311,19,10601584,-10.506330,-13.502615,2.996284
42649,55665.0,dorian,4.0,7681596.0,53423.0,84.0,5150227.0,42649,1,10601584,-12.129809,-15.112054,2.982245
12996,48200.0,corsican,1.0,7681596.0,28459.0,76.0,5150227.0,12996,4,10601584,-12.190434,-15.112054,2.921620
57153,44616.0,aluminium,1.0,7681596.0,8167.0,31.0,5150227.0,57153,1,10601584,-13.106728,-16.028345,2.921617
47412,12033.0,stellar,2.0,7681596.0,16429.0,61.0,5150227.0,47412,2,10601584,-12.429327,-15.335197,2.905870
34559,19058.0,flyer,6.0,7681596.0,24842.0,138.0,5150227.0,34559,3,10601584,-11.623697,-14.524267,2.900570
70906,11887.0,pluto,5.0,7681596.0,28231.0,89.0,5150227.0,70906,1,10601584,-12.072651,-14.929732,2.857082
47664,46965.0,egbert,1.0,7681596.0,6940.0,29.0,5150227.0,47664,1,10601584,-13.171267,-16.028345,2.857078
25832,16823.0,interstellar,5.0,7681596.0,35529.0,88.0,5150227.0,25832,1,10601584,-12.083824,-14.929732,2.845908
55570,54262.0,vega,1.0,7681596.0,15196.0,41.0,5150227.0,55570,2,10601584,-12.811263,-15.622880,2.811617
22810,14055.0,astral,3.0,7681596.0,31749.0,55.0,5150227.0,22810,1,10601584,-12.547111,-15.335197,2.788087
76145,20988.0,manhole,1.0,7681596.0,355.0,27.0,5150227.0,76145,1,10601584,-13.240260,-16.028345,2.788085
64303,35443.0,jovian,1.0,7681596.0,21483.0,27.0,5150227.0,64303,1,10601584,-13.240260,-16.028345,2.788085
19450,24010.0,bombs,8.0,7681596.0,5302.0,254.0,5150227.0,19450,11,10601584,-10.992719,-13.777052,2.784333

In [ ]:
display(word_dif[word_dif['word'] == "gaud"])

In [ ]:
words_filtered['word'] = words_filtered['word'].astype(str).apply(lambda x: x.title())
words_no_name = words_filtered[~words_filtered['word'].isin(common_names)]
words_no_name = words_no_name.sort_values(by='count',ascending = False)
display(words_no_name)
words_no_name.to_csv('novel_words_count.csv')

In [ ]:
display(df[df['word'] == "the"])

In [ ]:
from nltk.corpus import stopwords

stop_words = set(stopwords.words('english'))

words_filtered = df[~df['word'].isin(stop_words)]

In [ ]:
words_filtered.to_csv("book1850counts.csv")

In [ ]:
B1800 = pd.read_csv('book1800counts.csv')
display(B1800)

In [ ]:
import nltk
from nltk.corpus import names
# nltk.download('names')
common_names = set(names.words())

In [ ]:
B1800 = pd.read_csv("book1800counts.csv")
B1850 = pd.read_csv("book1850counts.csv")
B1900 = pd.read_csv("book1900counts.csv")

In [ ]:
B1800sum = B1800['1800count'].sum()
B1800['1800percentage'] = B1800['1800count']/B1800sum
B1850sum = B1850['1850count'].sum()
B1850['1850percentage'] = B1850['1850count']/B1850sum
B1900sum = B1900['1900count'].sum()
B1900['1900percentage'] = B1900['1900count']/B1900sum
display(B1800)

In [ ]:
words_dif = pd.merge(B1800,B1850,on='word')
words_dif = pd.merge(words_dif, B1900, on='word')
words_dif = words_dif.drop(columns=['Unnamed: 0'])
display(words_dif)

In [ ]:
words_dif['increase1'] = (words_dif['1850percentage'] - words_dif['1800percentage']) / words_dif['1800percentage']
words_dif['increase2'] = (words_dif['1900percentage'] - words_dif['1850percentage']) / words_dif['1850percentage']
words_dif['total_increase'] = (words_dif['1900percentage'] - words_dif['1800percentage']) / words_dif['1800percentage']
words_dif['biggest_change'] = abs(words_dif['increase1'] * words_dif['increase2'])
# words_dif = words_dif.sort_values(by='increase_appearance_100y', ascending=False)
# words_dif50 = words_dif.sort_values(by='increase_appearance_50y', ascending=False)
display(words_dif)

In [ ]:
words_dif['word'] = words_dif['word'].astype(str).apply(lambda x: x.title())
words_no_name = words_dif[~words_dif['word'].isin(common_names)]
increase = words_no_name[(words_no_name['increase1'] > 0) & (words_no_name['increase2'] > 0)]
increase = increase.sort_values(by='total_increase', ascending = False)
display(increase.head(50))

In [ ]:
decrease = words_no_name[(words_no_name['increase1'] < 0) & (words_no_name['increase2'] < 0)]
decrease = decrease.sort_values(by='total_increase', ascending = True)
display(decrease.head(50))

In [ ]:
words_dif.to_csv("words_dif_18-1950.csv")

In [ ]:
changed = words_no_name[(words_no_name['increase1'] * words_no_name['increase2'] < 0)]
changed = changed.sort_values(by='biggest_change', ascending = False)
display(changed.head(50))